---
import Navbar from "../components/Navbar.astro";
import Publication from "../components/publication.astro";
import Layout from "../layouts/Layout.astro";

const allPublications = await Astro.glob("../content/publications/*.md");
allPublications.sort((a, b) => {
	return b.frontmatter.id - a.frontmatter.id;
});
---

<Layout title="Alex Martínez Martínez">
	<Navbar active="publications" />
	<section class="section flex">
		<div class="publications flex list-page">
			{
				allPublications.map((pub) => (
					<Publication
						title={pub.frontmatter.title}
						published={pub.frontmatter.published}
						authors={pub.frontmatter.authors}
						doi={pub.frontmatter.doi}
						year={pub.frontmatter.year}
					/>
				))
			}
			<div class="return">Return to top</div>
		</div>
	</section>
</Layout>
<script src="../scripts/faders.js"></script>