---
import Link from "@/components/icons/Link.astro";
import LinkButton from "@/components/LinkButton.astro";

const { title, subtitle, description, tags, link } = Astro.props;
---

<div class='w-full md:w-1/2 md:max-w-lg'>
  <h3 class='text-2xl font-bold text-gray-800 dark:text-gray-100'>
    {title} - {subtitle}
  </h3>
  <div class='flex flex-wrap mt-2'>
    <ul class='flex flex-row mb-2 gap-x-2'>
      {
        tags.map((tag: any) => (
          <li>
            <span
              class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-2 px-3 `}>
              <tag.icon class='size-4' />
              {tag.name}
            </span>
          </li>
        ))
      }
    </ul>
    <div
      class='mt-2 text-gray-700 dark:text-gray-400 [&>strong]:text-red-500'
      set:html={description}
    />
    <footer class='flex items-end justify-start mt-4 gap-x-4'>
      {
        link && (
          <LinkButton href={link}>
            <Link class='size-4' />
            Preview
          </LinkButton>
        )
      }
    </footer>
  </div>
</div>
