---
import { PUBLICATIONS } from "@/lib/publications";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import Link from "@/icons/Link.astro";
import AuthorsIcon from "@/icons/Authors.astro";
import JournalIcon from "@/icons/Journal.astro";
import CalendarIcon from "@/icons/Calendar.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const formatter = new Intl.ListFormat(lang, {
  style: "long",
  type: "conjunction",
});

const getQuartileColor = (quartile: string) => {
  switch (quartile) {
    case "Q1":
      return "bg-green-100 text-green-800 border-green-200";
    case "Q2":
      return "bg-blue-100 text-blue-800 border-blue-200";
    case "Q3":
      return "bg-yellow-100 text-yellow-800 border-yellow-200";
    case "Q4":
      return "bg-gray-100 text-gray-800 border-gray-200";
    default:
      return "bg-gray-100 text-gray-800 border-gray-200";
  }
};
---

<div class='grid grid-cols-1 md:grid-cols-2 gap-6'>
  {
    PUBLICATIONS.map(({ title, authors, journal, year, doi }) => (
      <article class='h-full hover:shadow-lg transition-shadow duration-300 p-4 px-6 bg-slate-800/40 rounded-lg'>
        <div class='mb-4'>
          <div class='flex items-start justify-between gap-2 mb-4'>
            <div
              class={`${getQuartileColor(journal.quarter)} font-semibold px-2 rounded-md`}>
              {journal.quarter}
            </div>
            <div class='flex items-center text-md text-white'>
              <CalendarIcon class='size-4 mr-2' />
              {year}
            </div>
          </div>
          <div class='text-lg leading-tight hover:text-red-600 transition-colors'>
            {title}
          </div>
        </div>

        <div>
          <div class='space-y-3'>
            <div class='flex items-start gap-2 text-white'>
              <AuthorsIcon class='size-4 mt-0.5' />
              <div class='text-sm'>
                <span class='font-medium'>{t("publication.authors")}:</span>
                <div class='mt-1'>{formatter.format(authors)}</div>
              </div>
            </div>

            <div class='flex items-center gap-2 text-white'>
              <JournalIcon class='size-4' />
              <div class='text-sm'>
                <span class='font-medium'>{t("publication.journal")}:</span>{" "}
                {journal.name}
              </div>
            </div>

            <div class='w-full mt-4'>
              <a
                href={doi}
                target='_blank'
                rel='noopener noreferrer'
                class='flex items-center justify-center gap-x-2 overflow-hidden rounded-md bg-slate-800/30 backdrop-blur-lg px-6 py-2 text-base font-semibold text-white border border-gray-700 hover:scale-105 transition-all duration-300 hover:bg-slate-800/40'>
                <Link class='size-4' />
                {t("publication.read")}
              </a>
            </div>
          </div>
        </div>
      </article>
    ))
  }
</div>
