---
import { PUBLICATIONS } from "@/lib/publications";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const formatter = new Intl.ListFormat(lang, {
  style: "long",
  type: "conjunction",
});
---

<div class='flex flex-col gap-y-16'>
  {
    PUBLICATIONS.map(({ title, authors, journal, year, doi }) => (
      <article class='flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0'>
        <div class='w-full px-5 py-2 rounded-md flex flex-col justify-center items-center bg-gray-800/30'>
          <h3 class='text-2xl font-bold text-gray-100 text-center'>{title}</h3>
          <h4 class='text-base font-semibold text-gray-300 text-center'>
            {formatter.format(authors)}
          </h4>
          <h4 class='text-base font-normal text-gray-400 text-center'>
            {journal.name} ({journal.quarter}), {year} -{" "}
            <a
              href={doi}
              target='_blank'
              rel='noopener noreferrer'
              class='text-base font-normal text-gray-400 text-center underline'>
              {t("publication.read")}
            </a>
          </h4>
        </div>
      </article>
    ))
  }
</div>
