---
import { getLangFromUrl } from "@/i18n/utils";
import "../styles/global.css";
import "@fontsource-variable/onest";
import Footer from "@/components/Footer.astro";
import { ClientRouter } from "astro:transitions";

const { description, title } = Astro.props;

const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <meta name='description' content={description} />
    <title>{title}</title>
    <ClientRouter />
    <meta name='author' content='Alex Martínez Martínez' />
    <meta name='description' content={description} />
    <meta itemprop='name' content='Alex Martínez Martínez' />
    <meta property='og:title' content='Alex Martínez Martínez' />
    <meta property='og:type' content='website' />
    <meta name='twitter:card' content='summary_large_image' />
    <meta name='twitter:site' content='@almtav08' />
    <meta name='twitter:creator' content='@almtav08' />
    <meta property='og:image:type' content='image/jpg' />
    <meta property='og:image:width' content='1024' />
    <meta property='og:image:height' content='1024' />
    <meta property='og:image:alt' content='Alex Martínez Martínez' />
    <meta property='og:image' content='https://i.imgur.com/7xaJQpn.jpg' />
    <meta name='twitter:image:type' content='image/jpg' />
    <meta name='twitter:image' content='https://i.imgur.com/7xaJQpn.jpg' />
    <meta name='twitter:image:alt' content='Alex Martínez Martínez' />
    <meta name='twitter:title' content='Alex Martínez Martínez' />
    <meta name='twitter:description' content={description} />
    <meta property='og:url' content='https://almtav08.github.io' />
    <meta property='og:description' content={description} />
    <meta property='og:site_name' content='Alex Martínez Martínez' />
    <script type='application/ld+json'>
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "url": "https://almtav08.github.io/",
        "logo": "https://i.imgur.com/7xaJQpn.jpg"
      }
    </script>
    <meta
      name='google-site-verification'
      content='HPUBFyllVvmjtSqVfOeZLAtqIBYmKCC3p8Fg-2KpGOo'
    />
    <script
      type='text/partytown'
      async
      src='https://www.googletagmanager.com/gtag/js?id=G-Q2KBPB0XL6'></script>
    <script type='text/partytown'>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
    </script>
  </head>
  <body
    class='w-dvw min-h-dvh bg-zinc-950 relative flex overflow-x-hidden flex-col'>
    <div
      class='absolute w-dvw md:w-[180dvw] md:h-full h-2/5 top-0 md:-left-[40dvw] -z-10 bg-radial-[at_50%_0%] from-slate-800 to-zinc-950 md:to-40% to-80%'>
    </div>
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  :root {
    color-scheme: dark;
  }

  html {
    font-family: "Onest Variable", system-ui, sans-serif;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
  }
</style>
